.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cccccc;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.footer > button {
    padding: 8px;
    background-color: unset;
    border: none;
}