body {
    padding-bottom: 50px;
    color: #F6EEF7;
}
p {
    margin-block: 0px; 
    margin-inline: 0px;
    color: #F6EEF7;
}
a:-webkit-any-link {
        color: #f6eef7df; 
}

p, .text, .runFormContainer input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 129% */
    text-align: left;
    color: #0d0d0d;
     color: #f6eef7df; 
    margin: 0px;
}

h1 {
    margin-block: 0px; 
    margin-inline: 0px;
}


.signUpButton {
    box-sizing: border-box;
    border: 1px solid #000000;
}

.signUpContainer {
  min-height: calc(100%);
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heightWeightContainer {
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.heightWeight {
    background-color: #eeeeee;
    padding: 3px;
    
}
.heightWeight > p {
    text-align: left;
    padding: 3px;
}

.formContainer {
    text-align: left;
    border-style: hidden;
    background-color: inherit;
}


.homeContainer, .heightWeightContainer {
    display: flex;
    flex-direction: column;
    margin: 17px 12px;
    gap: 6px;
    background-color: #353135;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px #070208;

}
.heightWeightContainer {
    gap: 10px;
    margin: 0px;
}


.sectionTitle {
    display: flex;
    background-color: inherit;
}

.sectionTitle > p, .runFormContainer button[type="submit"] > p {
    margin-left: 5px;
    margin-bottom: 2px;
    align-self: flex-end;
    font-weight: 520;
}

.runFormContainer {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
    margin-block-end: 0px; 

}

.runFormContainer > div, .heightWeightContainer > div {
    background-color: #544C55;
    padding: 5px;
    display: flex;
    border-radius: 10px;
        box-shadow: 0px 0px 5px 0px #3900443e;
}
.runFormContainer > div p {
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.runFormContainer input[type="text"] {
    max-width: 20%; 
    background-color: #544C55;
    height: auto;
    border-style: none;
    border-bottom-style: solid;
}
.runFormContainer button[type="submit"], .heightWeightContainer input[type="submit"], .personalInfo, .savePlaylist {
    width: 148px;
    height: 97px;
    display: flex;
    background-color: #CE87D9;
    border-style: none;
    border-radius: 10px;
        box-shadow: 0px 0px 5px 0px #3900443e;
}
.runFormContainer button[type="submit"] > p, .personalInfo > p, .savePlaylist > p {
    margin-left: 0px;
    padding: 2px;
} 
.savePlaylist > p {
    display: flex;
    flex-direction: column-reverse; 
    margin: 4px;
}
input:focus {
   outline:none;
   border-bottom-style: solid;
   border-bottom-color: #f6eef7df;
}

a {
    text-decoration: none;
}
body, p, h1, input {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#save {
    margin: 9px 12px;
    margin-bottom: 50px;
}
body {
    background-color: #1C1C1C;
}

.signUpButton {
    border-color: #1DB954;
    color: #f6eef7df;
}